// Блок глобальной разметки страницы.
.global
  position: relative
  min-height: 100%
    
  &__wrapper
    padding-bottom: $bottom__height
  
  &__bottom
    position: absolute false false 0px
    size: 100% $bottom__height